<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register new user</title>
    <script src="/js/registerScript.js" type="text/javascript"></script>
    <script
      src="https://kit.fontawesome.com/ce95e1eb1f.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="/css/styleLoginRegister.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
        <h3>Register</h3>
      <div class="form-row">
        <div class="container">
          <div class="passwordbox">
            <input
            type="text"
            id="username"
            placeholder="username"
            name="username"
            />
          </div>
          <span id="username-error-taken" class="error-message">username is taken</span>
          <span id="username-error-length" class="error-message">username is of incorrect length</span>
        </div>
      </div>
        <div class="form-row">
          <div class="container">
            <div class="passwordbox" id="passwordbox_front">
              <input
                type="password"
                id="passwordInput1"
          class="passwordInput"
                placeholder="password"
                oninput="checkPassword()"
          name="password"
              />
              <i class="fas fa-eye" id="visible" onclick="makeInvisible()"></i>
              <i
                class="fas fa-eye-slash"
                id="invisible"
                onclick="makevisible()"
              ></i>
            </div>
          </div>
        </div>
        <div class="form-row">
      <div class="container">
        <div class="passwordbox">
          <input
          type="password"
          id="passwordInput2"
          class="passwordInput"
          placeholder="repeat password"
          name="password2"
          />
        </div>
        </div>
      </div>
        </div>
        <div class="dropdown" id="password-dropdown">
          <div id="capital">contains capital letter</div>
          <div id="special">contains special character</div>
          <div id="eight">contains 8 characters</div>
          <div id="number">contains a number</div>
        </div>
        <div class="dropdown" id="username-dropdown">
          <div id="letnum">only letters and numbers</div>
          <div id="threeplus">between 3 and 13 characters</div>
        </div>
        <div style="margin-top: 5%;">
          <input id="registerButton" type="submit" value="Register" disabled />
        </div>
      <div>
        <p>
          Already a user? go to 
          <a href="/login">Login</a>
        </p>
      </div>
  </body>
</html>
